html {
  font-size: 18px;
}

body {
  font-weight: 400;
  font-family: "Lato", "Helvetica Neue", arial, sans-serif;
  line-height: 1.666;
  -webkit-font-smoothing: antialiased;
  color: #5e6c76;
  margin: 0;
  padding: 10px 0 0 0;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
h1,
h2,
h3,
h4 {
  color: #404a50;
  font-weight: 800;
  font-size: 1.75em;
  line-height: 1.1;
  margin: 0 0 1.5rem 0;
}
button {
  color: #fff;
  background: #ff0066;
  padding: 0.5rem 1rem;
  display: inline-block;
  border-radius: 4px;
  transition-duration: 0.25s;
  border: none;
  font-size: 14px;
}
button:hover {
  background: #22272a;
}
p span {
  color: #ff0066;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
